.body {
    background-image: url("https://i.ytimg.com/vi/Dg0IjOzopYU/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
}

#myCanvas {
    background-color: white;
    border-width: 10px;
    border-style: ridge;
}

h2 {
    border-radius: 10px;
    width: 200px;
    padding: 5px;
}

h3 {
    display: inline-block;
}

span {
color: black;
}

#heading-info {
    width: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
}

